<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>{{ block "title" . }}{{ with .Params.Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{ end }}</title>
  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">
  <link rel="icon" type="image/png" href="/img/favicon1.png" />
  {{ partial "head.html" . }}
</head>
<body class="index-page" >
  <div class="container-fluid">
    {{ block "main" . }}{{ end }}
  </div>
</body>
</html>
